# Credentials for themoviedb.org
TMDB_LOGIN=your_tmdb_login
TMDB_PASSWORD=your_tmdb_password

SFTP_HOST=your_sftp_host
SFTP_LOGIN=your_sftp_login
SFTP_PASSWORD=your_sftp_password
SFTP_FOLDER=your_sftp_folder
